<!-- 
  -- routerLink directive provides redirection to given url. routerLink is preferred over
  -- href as href loads entire page. routerLink only re-renders the mapped component. This
  -- provides base for Single Page Application in Angular. 
  --
  -- usage: [routerLink]="['path', 'queryParam1', .. .]"
  --
  -- [routerLinkActive]="css-class1 css-class2" applies mentioned styles when the router
  -- link is active. This is handy in cases where links are to be highlighted when the user
  -- navigates to the corresponding page. 
  -- 
  -- [queryParams]="{ param keyvalue object }" adds query parameters to the URL.
  -->
<a [routerLink]="['/']">home</a> <span> &nbsp; </span>
<a [routerLink]="['/route', 12345, 'sometxt']" [queryParams]="{username: 'penzai', address: 'pen'}">route</a>
<div>
  <input id="postIt" (keyup.enter)="addPost(postIt)" #postIt>
  <ul>
    <li *ngFor="let post of posts"> 
      {{ post.title }} 
      <button id="update" value="update" (click)="updatePost(post)">Update</button>
      <button id="delete" value="delete" (click)="deletePost(post)">Delete</button>
    </li>
  </ul>
</div>
