<!-- 
  -- routerLink directive provides redirection to given url. routerLink is preferred over
  -- href as href loads entire page. routerLink only re-renders the mapped component. This
  -- provides base for Single Page Application in Angular. 
  --
  -- usage: [routerLink]="['path', 'queryParam1', .. .]"
  -->
<a [routerLink]="['/web']">Web</a>
<div>
  <input id="postIt" (keyup.enter)="addPost(postIt)" #postIt>
  <ul>
    <li *ngFor="let post of posts"> 
      {{ post.title }} 
      <button id="update" value="update" (click)="updatePost(post)">Update</button>
      <button id="delete" value="delete" (click)="deletePost(post)">Delete</button>
    </li>
  </ul>
</div>
